@import"../utils/variables.scss";
@import"../utils/animation";

.body{
  background-color: $lightergrey;
}
#page-resto{
  header{
    &:hover::before{
      
      @include zoom(1.20,translateY(-50%));
      

    }
    &::before {
    @include font-awesome-arrow;
    content: "\f060";
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}

  .banner img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
  }
  .resto_title{
    background-color: $lightergrey;
    margin-top: -2rem;
    position: relative;
    h2{font-family: 'Shrikhand', sans-serif;
      padding:  2rem 1rem
      
    }
    
    i{
      font-size: 2rem;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .fas{
      color: transparent;
      background-image:$background-image-linear;
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 200ms ease-out;
    }
    &:hover .fas{
      opacity: 1;
      transform: translateY(-50%) scale(1.2);
    }
    border-radius: 2rem 2rem 0 0;
  } 
  
   .resto-main{
      padding: 0 2rem;
      background-color:$lightergrey;
      display: flex;
      justify-content: center;
      @media (max-width: $breakpoint){
        display: flex;
        flex-direction: column;
      }
      .menus{
        display: grid;
        gap: 1rem;
        background-color:$lightergrey ;
        padding-bottom: 2rem;
        padding: 0rem 1rem;
        @media (max-width: $breakpoint){
          grid-template-columns: 1fr;
        }
        h3{
         text-transform: uppercase;
         margin-bottom: 2rem;
         font-weight: 600;
         position: relative;
         &::after{
           content: "";
           height: 0.25rem;
           width: 3rem;
           top:1.5rem;
           left: 0rem;
           background-color:$vert-tertiare;
           position: absolute;
           
         }
        }
        .menus__category{
          background-color: $lightergrey;
          overflow: hidden;
          
          .menu-item{
            @for $i from 2 through 4{
              &:nth-child(#{$i}){
                animation-delay: $i *100ms;
                
              }
             }
            display: flex;
            overflow: hidden;
            width: 20rem;
            margin: 0.5rem;
            border-radius: 1rem;
            @include base-shadow;
            animation: apparition 1s;
            animation-fill-mode: both;
              .menu-item__prix{
                margin-left: auto;
                font-weight: bold;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
                
              }
              .menu-item__description{
                padding: 1rem;
                overflow: hidden;
                h4, p{
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
              .menu-item__check{
                display: grid;
                place-items: center;
                flex-shrink: 0;
                $button-width: 4rem;
                background-color: $vert-tertiare;
                height: 100%;
                margin-right: -$button-width;
                width:$button-width;
                border-radius: 0 1rem 1rem 0;
                transition: margin-right 0.5s;
                i{
                  display: grid;
                  place-items: center;
                  background-color: white;
                  height: 2rem;
                  width: 2rem;
                  border-radius: 50%;
                  color: $vert-tertiare;
                }
              
              }
              &:hover{
                cursor: pointer;
                .menu-item__check{
                 margin-right: 0;
                } 
                i{
                 transform: rotate(360deg);
                 transition: 0.5s;
               }
              }
          }
        }

      }
      
   }
   section.order{
     height: 20vh;
     background-color:$lightergrey;
     display: grid;
     place-items: center;
     button{
       @include base-button;
     }
   }
}
