@import"../utils/mixins.scss";
@import"../utils/variables";



.card-fonctionnement {
  counter-reset: step;
  margin: 2rem 0rem 2rem 0rem;
    ol {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    @media (max-width: 1000px){
      flex-direction: column;
      margin-left: -2rem;
    }
    
  }
  h2{
    margin: 0rem 0rem 0rem -5rem;
    @media (max-width:$breakpoint){
      margin: 0;
    }
  }
  & li{
    position: relative;
    font-weight: 500;
    &::before{
      content: counter(step);
      counter-increment: step;
      background-color:$violet-primaire;
      color: white;
      width: 2* $card-cercle-icon;
      height: 2 * $card-cercle-icon;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 50%;
      transform: translateY(+50%);
      left: -$card-cercle-icon;
    }
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    @include base-shadow;
    &:hover {
      @include zoom;
      background-color:#dcc8f3;
      
      
    
    }
    
    & i.fas {
      margin-right: 1rem;
      color:$lightgrey;
      font-size: 1.5rem;
    }
    
    
  }
}