.ville{
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
   h2{
     font-size: 1.3rem;

 }
   i{
   font-size: 1.3rem;
 } 
}